<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FullStack Template | Home</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header><%- include('./partials/navbar') %></header>
    <main>
      <section>
        <h1>This is a full stack template</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
          nobis, optio excepturi provident voluptatem officiis recusandae?
          Blanditiis perspiciatis alias illo reprehenderit, commodi, similique
          necessitatibus distinctio sequi velit eum veritatis sed ad optio nobis
          deserunt!
        </p>
      </section>
      <section>
        <h2>a list</h2>
        <ul>
          <li>one</li>
          <li>two</li>
          <li>three</li>
          <li>four</li>
        </ul>
      </section>
      <section>
        <h2>sign up</h2>
        <div class="get-involved">
          <h3>
            <a href="/signup">Sign Up Today</a>
          </h3>
          <span>signup to get more information</span>
        </div>
      </section>
      <section>
        <h2>blockquote examples</h2>
        <blockquote>
          <p>
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla,
            at!"
          </p>
          <span>--User A., New user</span>
        </blockquote>
        <blockquote>
          <p>
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla,
            at!"
          </p>
          <span>--User A., New user</span>
        </blockquote>
        <blockquote>
          <p>
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla,
            at!"
          </p>
          <span>--User B., Existing user</span>
        </blockquote>
        <blockquote>
          <p>
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla,
            at!"
          </p>
          <span>--User C., user</span>
        </blockquote>
      </section>
      <section>
        <h2>blurb section</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
          voluptatibus, adipisci non nesciunt quis error illo inventore quo
          possimus aliquid!
        </p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt,
          culpa? Hic, culpa omnis repudiandae fuga deleniti modi!
        </p>
      </section>
    </main>
    <footer><%- include('./partials/footer') %></footer>
    <script src="/js/script.js"></script>
  </body>
</html>
